v-app#inspire
  ss-header
  ss-nav
  main
    v-content
      v-container(fluid fill-height)
        v-layout(justify-center align-center)
          router-view

  v-btn(fab bottom right color='pink' dark fixed)
    v-icon add
