
v-data-table.elevation-1(:headers="headers" :items="items" hide-actions)
  template(slot="items" scope="props")
    td {{ props.item.id }}
    td.text-xs-right {{ props.item.email }}
    td.text-xs-right {{ props.item.username }}
    td.text-xs-right {{ props.item.role_id }}
    td.text-xs-right
      v-btn(@click='$router.push("/user/" + props.item.id)') show
